#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 156px; /* Adjusted height */
    width: 156px; /* Fixed width to accommodate 3 boxes */
    flex-wrap: wrap;
}
.cell {
    height: 50px;
    width: 50px;
    background-color: rgb(248, 243, 243);
    border: 2px solid rgb(18, 14, 14);
    box-sizing: border-box; /* Ensures borders are included in the width */
    margin: 0; /* Removed margin */
    cursor: pointer;
}
#Red {
    color: red;
}
#Green {
    color: greenyellow;
}
#btn,#btn1,#btn2
{
    height: 30px;
    width: 200px;
    border-radius: 20px;
   
}
#btn:hover,#btn1:hover,#btn2:hover
{
    color: whitesmoke;
    background-color: black;
    cursor: pointer;   
}
#text1,#text2
{
  height: 10 px;
  width: 70px;
  border: 2px solid black;
}