html
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container
{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
#box1,#box2,#box3
{
    height: 100px;
    width: 100px;
    background-color: rgb(91, 20, 158);
    border-radius: 50%;
    cursor: pointer;
    color: whitesmoke;
    margin-left: 20px;

}
#box1:hover,#box2:hover,#box3:hover
{background-color: black;
color: white;

}
h1{
    display: flex;
    justify-content: center;
}
#r
{
    border-radius: 10px;
    height: 50px;
    width: 100px;
    cursor: pointer;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: large;
}
#r:hover{
  background-color: black;
  color: whitesmoke;
   
}
